@{
    ViewData["Title"] = "Carrinho";
}
@model List<ItemPedido>;
<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 text-center">
                <span>Item</span>
            </div>
            <div class="col-md-2 ">
                <span>Valor Unit.</span>
            </div>
            <div class="col-md-2 ">
                <span>Quantidade</span>
            </div>
            <div class="col-md-2 ">
                <span class="pull-right">SubTotal</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/produtos/small_@(item.Id).jpg" />
                </div>
                <div class="col-md-3">
                    @item.Produto.Nome
                </div>
                <div class="col-md-2">
                    @item.Produto.Preco.ToString("C")
                </div>
                <div class="col-md-2">
                    @item.Quantidade
                </div>
                <div class="col-md-2 ">
                    <span class="pull-right">@item.SubTotal.ToString("C")</span>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                Total: @(Model.Select(q=>q.Quantidade).Sum()) Itens
            </div>
            <div class="col-md-2">
                @(Model.Select(q => q.SubTotal).Sum().ToString("C"))
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Resumo" asp-controller="Pedido" class="btn btn-success pull-right">Finalizar Pedido</a>
    </div>
</div>